:host {
  --proportion: 1/1;
  --perspective: 1200px;
  --background: grey;
  height: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  background: transparent !important;
  overflow: hidden !important;
}

.flip-card--wrapper {
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: calc(1 / (var(--proportion, 1)) * 100%);
  perspective: var(--perspective, 1200px);
}

.flip-card--surface {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
}

:host([revealed]) .flip-card--surface {
  transform: rotateY(180deg);
}

.flip-card--side {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
}

.flip-card--side-back {
  display: flex;
  width: 100%;
  height: 100%;
  cursor: default;
  background: var(--background, grey);
}

.flip-card--side-front {
  transform: rotateY(180deg);
}
