:host {
  display: block;
  --cards-per-line: 6;
}

.memory-game--wrapper {
  display: grid;
  grid-template-columns: repeat(var(--cards-per-line, 6), 1fr);
  grid-gap: 25px 25px;
}

.memory-game--media {
  display: block;
  width: 100%;
  height: auto;
}

.memory-game--text {
  position: absolute;
}
